<div class="container mt-5">
  <h1>All our Flats (<%= @flats.count %>)</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= image_tag flat.picture_url, class: 'card-img-top' if flat.picture_url.present? %>
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <p>
              <i class="fas fa-user"></i> <%= flat.number_of_guests %> |
              <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %>
            </p>
            <%= link_to 'More info', flat, class: 'btn btn-primary' %> |
            <%= link_to 'Edit', edit_flat_path(flat), class: 'btn btn-secondary' %> |
            <%= link_to 'Remove', flat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
